.App {
  text-align: center;
}

.form-group{
  width: 500px;
  margin: auto;
  margin-bottom: 20px;
}

.input-group{
  width: 500px;
  margin: auto;
  border-bottom: solid rgb(202, 201, 201) 1px;
}

.input-group> h3{
  margin-left: 10px;
}

.done{
  color: blue;
}